<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Group ID</key>
	<string>group.com.twingate</string>
	<key>Auth email</key>
	<string>auth_email_placeholder</string>
	<key>Auth password</key>
	<string>auth_password_placeholder</string>
	<key>Build</key>
	<string>4516</string>
	<key>BuildMachineOSBuild</key>
	<string>21G531</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Twingate</string>
	<key>CFBundleExecutable</key>
	<string>Twingate</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.twingate.macos</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Twingate</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.30</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.twingate</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twingate</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4516</string>
	<key>Controller URL</key>
	<string>https://twingate.com</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14B47b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>13.0</string>
	<key>DTSDKBuild</key>
	<string>22A372</string>
	<key>DTSDKName</key>
	<string>macosx13.0</string>
	<key>DTXcode</key>
	<string>1410</string>
	<key>DTXcodeBuild</key>
	<string>14B47b</string>
	<key>DTXcodeBuildDistribution</key>
	<string>14B47b</string>
	<key>Development Team</key>
	<string>6GX8KVTR9H</string>
	<key>Environment</key>
	<string>prod</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>Libsdwan Version</key>
	<string>0.145.1</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>Sentry DSN</key>
	<string>https://df2385016b9c4faaab06b37b257fe428@sentry.io/1869637</string>
</dict>
</plist>
